

.site__blog{
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    column-gap: 2rem;

    width: 70vw;

    main{
        width: 70%;
        overflow: hidden;
        article{
            width: 100%;
            margin: 0 auto;
        
            h2{
                font-size: 1.5rem;
                text-transform: uppercase;
                font-weight: 900;
            }
        }
    }
    aside{
        width: 30%;
        background-color: rgb(244, 244, 244);
    }
}