header{
    display: flex;
    justify-content: space-between;
    align-items: baseline;


    #logo{
        width: 4rem;
    }
    
    nav{
        width: 80%;
        .site__header__menu{
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            list-style: none;
            ul{
                list-style: none;
            }
            li{
                text-decoration: none;
                margin-left: 1rem;
                a{
                    text-transform: uppercase;
                    text-decoration: none;
                    color: black;
    
                }
            }
    
        }
    }

}