// FONTS
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700;900&display=swap');

// STYLES
@import "_nav.scss";
@import "_footer.scss";
@import "_front-page.scss";
@import "_articles.scss";

// GENERALS
 html{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
 }

 body{
    margin: 0;
    padding: 0;
 }